<div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen" id="home">
  <div class="col-span-1 h-full flex flex-col justify-center px-8">
    <h1 class="text-6xl font-bold mb-8">Welcome to Drag & Drop</h1>
    <p class="text-xl mb-8">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
      repellendus voluptates ad obcaecati accusamus similique necessitatibus!
      Laborum, provident maiores fugit suscipit error aliquam reprehenderit
      possimus maxime fuga ut, sint ipsam.
    </p>
    <app-button label="Learn More" customClass="!w-auto !px-10"></app-button>
  </div>
  <div
    class="col-span-1 h-full flex items-center justify-center overflow-hidden"
  >
    <app-home-svg class="w-full h-full" />
  </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen" id="about">
  <div
    class="col-span-1 h-full flex items-center justify-center overflow-hidden"
  >
    <app-about-svg class="w-full h-full flex items-center" />
  </div>
  <div class="col-span-1 h-full flex flex-col justify-center px-8">
    <h2 class="text-5xl font-bold mb-8">About Us</h2>
    <p class="text-xl mb-8">
      At Drag & Drop, we are dedicated to delivering innovative solutions that
      empower individuals and businesses alike. Our team is passionate about
      driving progress through creativity, collaboration, and cutting-edge
      technology. With a focus on quality, integrity, and customer satisfaction,
      we aim to exceed expectations and create lasting value for our clients and
      partners. Join us on our journey to shape a brighter future together!
    </p>
  </div>
</div>
